.venv
app/mediapipe/cc/bazel-local
AppDir
misc
tasks

*.sock
/lib
*.a
app/gtk3-vala/*.c

# Executables
__debug*
kalidokit-bin
/marmalade
/marmalade-gtk3
/app/gtk3-vala/marmalade-gtk3-vala
/marmalade-gtk4
/mediapipe
/mediapipe_temp

# Go workspace file
go.work
go.work.sum
