.venv
app/mediapipe/cc/bazel-local
AppDir
misc
tasks

marmalade.sock
*.so

# Executables
__debug*
marmalade
marmalade-gtk3
marmalade-gtk4
./mediapipe
app/mediapipe/mediapipe

# Go workspace file
go.work
go.work.sum
