.boldText {
    font-weight: bold;
}

.smallIcon {
    min-width: 0;
    min-height: 0;
}

.smallIcon button {
    min-width: 0;
    min-height: 0;
}

.smallIcon image {
    -gtk-icon-transform: scale(0.75);
}

.columnWithBorder button {
    border-top-width: 1px;
    border-top-style: solid;
}