name: Build Marmalade

on:
  workflow_dispatch:

jobs:

  marmalade:
    name: Build Marmalade
    runs-on: ubuntu-latest
    container: debian:bookworm
    defaults:
      run:
        shell: bash
    steps:
    
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y libv4l-dev libgtk-3-dev libgtk-4-dev libgirepository1.0-dev

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - uses: actions/checkout@v4
      with:
        repository: 'RanAwaySuccessfully/gotk4'
        ref: '4.8'
        path: 'gotk4'

    - name: Set up gotk4 replacement
      run: |
        mv gotk4 ../
        go work init
        printf "\nreplace github.com/diamondburned/gotk4/pkg => ../gotk4/pkg\n\nuse ." >> go.work
    
    - name: Download libmediapipe
      run: wget

    - name: Build libtoast
      run: |
        cd ./app/mediapipe/cc/
        g++ -g -I./mediapipe/ -L./ -lmediapipe -shared -fPIC libtoast.cc -o libtoast.so
        cd ../../../

    - name: Build MediaPipe libraries
      run: go build -v -o mediapipe ./app/mediapipe

    - name: Build CMD version
      run: env CGO_ENABLED=0 go build -v -o marmalade ./app/cmd
    
    - name: Build GTK 4 version
      run: go build -v -o marmalade-gtk4 ./app/gtk4

    - name: Build GTK 3 version
      run: go build -v -o marmalade-gtk3 ./app/gtk3

    - name: Create distributable folder
      run: |
        mkdir dist
        mv -t dist config.json LICENSE marmalade marmalade-gtk3 marmalade-gtk4 mediapipe

    - name: Export complete build
      uses: actions/upload-artifact@v4
      with:
        name: marmalade
        path: dist
        if-no-files-found: error
        retention-days: 1
        compression-level: 1
        overwrite: true
