name: Build Marmalade

on:
  workflow_dispatch:

jobs:

  ubuntu24:
    name: Build on Debian 12
    runs-on: ubuntu-latest
    container: debian:bookworm
    defaults:
      run:
        shell: bash
    steps:
    
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y libv4l-dev libgtk-3-dev libgtk-4-dev libgirepository1.0-dev python3 python3-pip python3-venv git

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Set up GOTK4  
      run: |
        go work init
        printf "\nreplace github.com/diamondburned/gotk4/pkg => ../gotk4/pkg\n\nuse ." >> go.work
        git clone -b 4.8 https://github.com/RanAwaySuccessfully/gotk4.git ../gotk4

    - name: Build CMD version
      run: env CGO_ENABLED=0 go build -v
    
    - name: Build GTK-4 version
      run: go build -v -tags withgtk4 -o marmalade-gtk4

    - name: Build GTK-3 version
      run: go build -v -tags withgtk3 -o marmalade-gtk3

    - name: Create distributable folder
      run: |
        mkdir dist
        mv -t dist config.json LICENSE marmalade marmalade-gtk3 marmalade-gtk4

    - name: Set up Python environment
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        .venv/bin/pip3 install -U pyinstaller
        .venv/bin/pip3 install opencv-contrib-python mediapipe

    - name: Build Python executable
      run: |
        cd python
        ../.venv/bin/pyinstaller -F main.py
        cp LICENSE dist/LICENSE

    - name: Add Python executable to distributable folder
      run: mv python/dist dist/python
      # LOL

    - name: Export Distributable Folder
      uses: actions/upload-artifact@v4
      with:
        name: marmalade
        path: dist
        if-no-files-found: error
        retention-days: 1
        compression-level: 1
        overwrite: true
